<div class="secton3">
    <h1>Portflio</h1>
    <div class="cont4">
     <div *ngFor="let items of item" [ngClass]="items.Class1">
         <div [ngClass]="items.Class3">
           <h5 [ngClass]="items.Class4">{{items.Title}}</h5>
     
         </div>
       </div>
       <!-- <div class="card text-white bg-dark mb-3 dit" style="max-width: 18rem;">
         <div class="card-body child">
           <h5 class="card-title">MOBILE DESIGN</h5>
           
         </div>
       </div>
       <div class="card text-white bg-secondary mb-3 dit" style="max-width: 18rem;">
         <div class="card-body child">
           <h5 class="card-title">LOGO DESIGN</h5>
           
         </div>
    </div> -->
    <div class="cont5">
     <div *ngFor="let items2 of item2" [ngClass]="items2.Class1">
         <div [ngClass]="items2.Class3">
           <h5 [ngClass]="items2.Class4">{{items2.Title}}</h5>
           
         </div>
       </div>
       <!-- <div class="card text-white bg-secondary mb-3 dit" style="max-width: 18rem;">
         <div class="card-body child">
           <h5 class="card-title">MOBILE APPLICATION DEVELOPMENT</h5>
           
         </div>
    </div>
    <div class="card text-white bg-dark mb-3 dit" style="max-width: 18rem;">
     <div class="card-body child">
       <h5 class="card-title">PWA DEVELOPMENT</h5>
       
     </div>
   </div>  -->
</div>
</div>
</div>