.section2{
    background: #000;
    color: #fff;
    height: 50rem;
    
}

.tit{
    padding-top: 60px;
    text-align: center !important;
}

.desc3{
    padding-top: 60px;
    width: 70%;
    margin-left: 14rem;
    text-align: center !important;
}

.skill{
    display: flex;
    justify-content: space-evenly;
    padding-top: 6rem;
}


.exp{
    width: 20rem;
    height: 20rem;
    padding-bottom: 100px;
    /* text-align: center !important; */
}
.myfocus{
    text-align: center;
    width: 20rem;
    height: 20rem;
}
.myfocus p{
    margin-top: 10px;
    width: auto;
    height: 12%;
}


.Html{
    display: flex;
    width: auto;
    height: 12%;
    background: #fff;
}
.att{
    color: black;
    height: 100%;
    width: 13%;
    background: rgb(161, 157, 157);
}
.prsin{
    margin-left: 1px;
    height: 100%;
    width: 80%;
    background: rgb(119, 114, 114);
}

.css{
    display: flex;
    width: auto;
    height: 12%;
    margin-top: 20px;
    background: #fff;
}
.att2{
    color: black;
    height: 100%;
    width: 12%;
    background: rgb(161, 157, 157);
}
.prsin2{
    margin-left: 1px;
    height: 100%;
    width: 60%;
    background: rgb(119, 114, 114);
}
.javascript{
    display: flex;
    width: auto;
    height: 12%;
    margin-top: 20px;
    background: #fff;
}
.att3{
    color: black;
    height: 100%;
    width: 20%;
    background: rgb(161, 157, 157);
}
.prsin3{
    margin-left: 1px;
    height: 100%;
    width: 78%;
    background: rgb(119, 114, 114);
}
.React{
    display: flex;
    width: auto;
    height: 12%;
    margin-top: 20px;
    background: #fff;
}
.att4{
    color: black;
    height: 100%;
    width: 13%;
    background: rgb(161, 157, 157);
}
.prsin4{
    margin-left: 1px;
    height: 100%;
    width: 70%;
    background: rgb(119, 114, 114);
}

.node_js{
    display: flex;
    width: auto;
    height: 12%;
    margin-top: 20px;
    background: #fff;
}
.att5{
    color: black;
    height: 100%;
    width: 20%;
    background: rgb(161, 157, 157);
}
.prsin5{
    margin-left: 1px;
    height: 100%;
    width: 70%;
    background: rgb(119, 114, 114);
}
.wordpress{
    display: flex;
    width: auto;
    height: 12%;
    margin-top: 20px;
    background: #fff;
}
.att6{
    color: black;
    height: 100%;
    width: 24%;
    background: rgb(161, 157, 157);
}
.prsin6{
    margin-left: 1px;
    height: 100%;
    width: 50%;
    background: rgb(119, 114, 114);
}